.pricing5-pricing8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing5-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing5-section-title {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.pricing5-text {
  text-align: center;
}
.pricing5-content {
  gap: 32px;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
}
.pricing5-column1 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
}
.pricing5-list {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing5-list-item {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.pricing5-icon {
  width: 24px;
  height: 24px;
  align-self: center;
}
.pricing5-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing5-list-item01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.pricing5-icon02 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.pricing5-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing5-list-item02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.pricing5-icon04 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.pricing5-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing5-list-item03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.pricing5-icon06 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.pricing5-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing5-column2 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.pricing5-price-title {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing5-text09 {
  font-style: normal;
  font-weight: 600;
}
.pricing5-divider {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.pricing5-text11 {
  font-size: 48px;
}
.pricing5-button {
  width: 100%;
}
.pricing5-divider1 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.pricing5-list1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing5-list-item04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing5-list-item05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing5-list-item06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing5-list-item07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing5-list-item08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing5-list-item09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
@media(max-width: 991px) {
  .pricing5-content {
    width: 100%;
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .pricing5-content {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .pricing5-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .pricing5-content {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
  }
  .pricing5-column1 {
    width: 100%;
  }
}
